BODY {
	background-color: rgb(199, 238, 255);
}

input { 
	display: none;
	margin: 0%;
}

h1 {
	text-align: center;
}

ul {
	list-style-image: url("../files/1.gif");
	list-style-position: inside;
}

.p1 {
	font-size: 20px;
}

.div1 {
	text-align: center;
    background: rgb(150, 200, 200);
	height: 150px;
	margin-bottom: 10px;
}

label {
    cursor: pointer;
	display: list-item;
	background: rgb(150, 200, 200);
}

.div2 {
	background: rgb(150, 200, 200);
	display: table;
	width: 100%;
	height: 60%;
}

#rad_1:checked + label, #rad_2:checked + label, #rad_3:checked + label {
	margin: 0px;
	text-align: right;
    display: list-item;
	background: rgb(255,255,255);
	cursor: default;
}

#div_1, #div_2, #div_3 {
    display: none;	
	background: rgb(150, 200, 200);	
	width: 90%;
}

#rad_1:checked ~ #div_1,
#rad_2:checked ~ #div_2,
#rad_3:checked ~ #div_3 { 
	display: table-cell;
	padding-left: 10px;
	background: rgb(255,255,255);
}
