BODY {
	background-color: rgb(199, 238, 255);
}

h1 {
	text-align: center;
}

ul {
	list-style-image: url("../files/1.1.gif");
	list-style-position: inside;
}

.p1 {
	font-size: 20px;
}

.img1 {
	width: 20px;	
}